@import "~antd/dist/antd.less";

.App {
  text-align: center;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ant-layout-content {
  background: white;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 40px;
  margin-top: 60px;
  // padding-bottom: 40px;
  min-height: 85vh;
  text-align: center;
}

.app-logo {
  height: 40px;
  margin-right: 40px;
}
