@import "~antd/dist/antd.less";

.App {
  text-align: center;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ant-layout-content {
  background: white;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 40px;
  margin-top: 60px;
  min-height: 86vh;
  text-align: center;

  .ant-layout-footer {
    background: white;
  }

  .ant-input-group {
    margin-bottom: 20px;
  }

  .purchase-image {
    width: 100%;
  }
  .purchase-info {
    margin-right: 20px;
    margin-top: 80px;
  }

  input {
    max-width: 600px;
    margin-right: 10px;
  }
  button {
    // margin: 10px;
  }
}

.align-left {
  text-align: left;
}

.preview-image {
  height: 75px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.content {
  padding-top: 50px;
}

.content .ant-layout-header {
  background: white;
}

.content input {
  padding: 5px;
  margin-bottom: 20px;
}

.dropzone {
  border: 1px dotted lightgray;
  padding-top: 20px;
  height: 100px;
  cursor: pointer;
}

.ant-card {
  display: inline-table;
  margin: 10px;
}

// .rcv-card-sm .rcv-product-image-container,
// .rcv-card-sm .rcv-product-image-container-custom {
//   padding-right: 25px;
// }

.app-logo {
  height: 40px;
  margin-right: 40px;
}
